* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color */
    --primary-dark-brown: #3B3330;
    --primary-tan: #A68A6D;
    --bg-light: #F7F6F2;

    --light-text: white;
    --dark-text: black;
    --muted-text: #666666;

    /* Text */
        /* Family */
    
        /* Size */
    
        /* Weight */
    /* Effects */
    --card-drop-shadow:
        0 0.4rem 2.4rem 0 rgba(0, 0, 0, 0.08);

    --card-inner-shadow:
        inset -19rem 0 6.2rem 2.6rem rgba(0, 0, 0, 0.45);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-light);
    font-family: sans-serif; /* Fonte padrão para textos */
    color: var(--dark-text);
}

.flex-container {
    display: flex;
}

h1, h2, h3, .footer-logo {
    font-family: serif; 
    color: var(--primary-dark-brown);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ----- HEADER ----- */
header {
    background-color: #3B3330;

    padding: 4.8rem;

    justify-content: space-between;
    align-items: center;
}

header a {
    color: var(--light-text);
    font-size: 2.0rem;
}

header ul li {
    margin-left: 36px;
}

header ul li:first-child {
    margin-left: 0;
}

.btn-primary, .btn-dark, .btn-transparent, .btn-light {
    padding: 1.2rem 2.4rem;
    border-radius: 0.4rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    display: inline-block;
}

.btn-primary, .btn-transparent { background-color: var(--primary-tan); color: var(--light-text); }
.btn-dark { background-color: var(--primary-dark-brown); color: var(--light-text); }
.btn-light { background-color: var(--light-text); color: var(--primary-dark-brown); }
